html, body{
    height: 100%;
}

nav {
    margin-left: 50px;
    width: 20%;
    z-index: 2;
    position: fixed;
    font-size: 1.5em;
}

select, button{

    z-index: 2;
    background-color: lightgray;
    border-radius: 20px;
}

option{
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

#map{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}


#contentBox {
    max-width: 845px;
    font-size: 1em;
	position: absolute;
	z-index: 2;
    top: 10%;
    right: 25%;
    left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray !important;
}

table{
    background-color: white;
    
}

#countryInfo{
    background-color: white;
}

#countryInfo, #weatherToday{
    width: 50%;
    text-align: left;
    font-size: 1em;
}

.iconText, .icon, .icon > p{
    display: inline-block;
    
}

.iconContainer{
    text-align: left;
    padding-left: 1%;
    padding-top: 3%;
    border-top: solid 1px lightgray;
}

#capICon{
    border-top: none;
}


.iconContainer, .iconText, .icon, .icon > p{
    flex-wrap: nowrap;
}


.weather{
    padding: 5px;
    float: left;
}

.botWeather{
    display: inline-block; 
    font-size: 1em;
    padding-left: 10%;
    padding-right: 10%;
}

tr{
    background-image: url(../images/clearSky.jpg);
}

#weather{
    display: flex;
    height: 100%;
    align-items: bottom;
    justify-content: center;
    flex-direction: column;
}

#temp{
    height: 30%;
    width: 30%;
}

#temp2{
    margin-left: 20px;
    height: 20%;
    width: 20%;
}

.temp3{
    display: inline-block;
    font-size: 1.4em;
}

.iconP{
    margin: 0;
    display: inline-block;
}
.dayTemp, .forcastBox{
    display: inline-block; 
}

#todayTemp{
    display: inline-block;
    margin: 0;
}

.weatherIcon{
    width: 20%;
    height: 20%;
    color: rgb(255, 95, 95);
}

.forcastBoxP{
    font-size: 1em;
}

.dayTemp{
    font-size: 1em;
    padding-left: 3%;
    padding-right: 3%;

}

.botIcon{
    height: 50%;
    width: 50%;
    display: block;
}

.allDayTemp{
    height:50%;
    width: 50%;
}

#contentBox{
    background-color: white;
}

tbody{
    background-color: white;
}

tr{
    background-color: white;
}

#wikiLinks{
    background-color: gray;
}

#forcast{
    background-color: lightcyan;;
}

.bi-thermometer-half{
    background-color: red;
}

.therm{
    color: red;
}

.bi-moon{
    color: silver;
}
.bi-brightness-high{
    color: yellow;
}

.bi-brightness-alt-high, .bi-brightness-alt-low{
    color: rgb(184, 184, 104)
}

.bi-clouds{
    color: rgb(230, 224, 224);
}

.bi-wind{
    color: lightgray;
}

.bi-building{
    color: darkgray;
}

.bi-globe2{
    color: blue;
}

.bi-chat{
    color: hotpink;
}

.bi-people{
    color: black;
}

.bi-bullseye{
    color: brown;
}

.bi-cash-coin{
    color: green;
}

.bi-currency-exchange{
    color: gold;
}

.bi-fullscreen-exit{
    color: red;
}

#button{
    display: none;
    font-size: 0.7em;
    border-radius: 20px !important;
}

.forcastBox{
    margin: 0;
    padding: 7px;
}

#day6{
    border-right: none;
}

.td2{
    background-color: lightgray;
    border-right: lightgray;
}

#day1, #day3, #day5{
    background-color: rgb(0, 153, 255);
}
.awesome-marker i {
    font-size: 100px;
    margin-top: 10px;
    z-index: 10;
}

#day2, #day4, #day6{
    background-color: yellow;
}




@media only screen and (max-width: 1225px) {
    #contentBox{
        right: 0%;
        left: 30%;
        max-width: 402px;
    }

    .forcastBox{
        width: 119px;
        height: 183px;   
        margin-top: 4px; 
    }


  }
  

@media only screen and (max-width: 600px) {
    #contentBox{
        left: 10%;
        
    }
  }

  @media only screen and (max-width: 481px) {
    #contentBox{
        left: 10%;
        max-width: 283px;
    }
  }
  









